{% extends "admin/index.html.twig" %}
{% block datatable %}
	<h2>General Data Statistics</h2>	
	<div class="table-responsive">
		<h3>Product</h3>
		<table class="table" >
			<thead>
				<tr>
					<td>Total</td>					
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ data.ProductsTotal }}</td>
				</tr>
			</tbody>
		</table>
		<h3>Source</h3>
		<table class="table" >
			<thead>
				<tr>
					<td>Total</td>					
					<td>Visited</td>
					<td>To Visit</td>
					<td>Named</td>
					<td>Un Named</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ data.SourcesTotal }}</td>
					<td>{{ data.SourcesVisitedTotal }}</td>
					<td>{{ data.SourcesNotVisitedTotal }}</td>
					<td>{{ data.SourcesNamedTotal }}</td>
					<td>{{ data.SourcesUnnamedTotal }}</td>
				</tr>
			</tbody>
		</table>
		
		
	</div>	
{% endblock %}
