{% extends "admin/index.html.twig" %}
{% block datatable %}
	<h1>Source - {% if source is not null %}{{source.title}}{% else %}New{% endif %}</h1>	
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	{% if source is not null %}
	<form action="{{ path('Robot_Update_Source',{'id':source.id}) }}" method="POST"><input type="hidden" name="id" value="{{source.id}}"><input type="submit" value="Find Products"></form>
	<br />
	<form action="{{ path('Source_Delete',{'id':source.id}) }}" method="POST"><input type="hidden" name="id" value="{{source.id}}"><input type="submit" value="Delete"></form>
	{% endif %}
{% endblock %}
