{% extends "admin/index.html.twig" %}
{% block datatable %}
	<h2>Sources</h2>
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<td>Title</td>
					<td>Url</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			{% for result in results %}
				<tr>
					<td><a href="/admin/source/{{result.id}}">{{result.title}}</a></td>
					<td>{{result.url}}</td>
					<td><form action="/admin/source/{{result.id}}/delete" method="POST"><input type="hidden" name="id" value="{{result.id}}"><input type="submit" value="Delete"></form></td>
				</tr>
			{% endfor %}			
			</tbody>
		</table>
	</div>
	
{% endblock %}
