{% extends "admin/index.html.twig" %}
{% block datatable %}
	<h1>Product - {% if product is not null %}{{product.name}}{% else %}New{% endif %}</h1>	
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	{% if product is not null %}
	<form action="/admin/product/{{product.id}}/delete" method="POST"><input type="hidden" name="id" value="{{product.id}}"><input type="submit" value="Delete"></form>
	{% endif %}
{% endblock %}
